<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="sign-in" method="post">
        <label>First Name: </label>
        <input type="text" placeholder="First Name" name="FirstName"><br><br>
        <label>Last Name: </label>
        <input type="text" placeholder="Last Name" name="LastName"><br><br>
        <label>E-Mail: </label>
        <input type="text" placeholder="Enter Mail" name="Email"><br><br>
        <label>Password: </label>
        <input type="password" placeholder="Enter Password" name="Password"><br><br>
        <button>Sign In</button>
    </form>
</body>
</html>